.search-card {
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 90px;
    height: 270px;
    background: #E6F7FF;
    
    padding: 65px 655px 160px 95px;
}

.search-title {
    font-size: 38px;
    line-height: 46px;
}

.base-form-actions {
    margin-top: 25px;
    margin-bottom: 50px;
}