.home-container {
    margin-top: 115px;
    padding-left: 120px;
    padding-right: 700px;
    padding-bottom: 260px;
}

.text-title {
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}

.text-subtitle {
    margin-top: 24px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 36px;
    color: #5a6774;
}